<div data-controller="carousel" id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div style="background-image:url({{ dataCarousel.1.image }})" class="d-block w-100"></div>
    </div>
    <div class="carousel-item">
      <div style="background-image:url({{ dataCarousel.2.image }})" class="d-block w-100"></div>
    </div>
    <div class="carousel-item">
      <div style="background-image:url({{ dataCarousel.3.image }})" class="d-block w-100"></div>
    </div>
  </div>
</div>