<div class="contact-information">
    <div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-4">
        <div class="contact-item">
            <i class="fa fa-phone"></i>
            <h4>Téléphone</h4>
            <p>Nous sommes joignables par téléphone du lundi au vendredi, de 8h à 18.</p>
            <p><a href="tel:+32460959260">+32 460 959 260</a></p>
        </div>
        </div>
        <div class="col-md-12 col-lg-4">
        <div class="contact-item">
            <i class="fa fa-envelope"></i>
            <h4>Email</h4>
            <p>Laissez-nous un message par email.</p>
            <p><a href="mailto:Philippe.occwin@gmail.com">Philippe.occwin@gmail.com</a></p>
        </div>
        </div>
        <div class="col-md-12 col-lg-4">
        <div class="contact-item">
            <i class="fa fa-map-marker"></i>
            <h4>Location</h4>
            <p>1020 New Mountain Street<br>Forest Park, FP 11220</p>
            <a href="#map">Voir sur la carte</a>
        </div>
        </div>
    </div>
    </div>
</div>