

<div class="row">

    <h2 class="pt-4 pb-2">Testez notre simulateur et projetez-vous dans votre projet</h2>

    <div class="col-md-12 col-lg-6">

      {%  include  'partials/_simulator.html.twig' with { 'bg': 'bg-lightgrey', 'color': 'white' , 'classe' : 'simulator'} %}

    </div>
      
    <div class="col-md-12 col-lg-6">
            
      {%  include 'blocks/_sub/_image.html.twig'  with {'bg': 'bg-lightgrey', 'color': 'white' , 'classe' : 'image'} %}
          
    </div>
 
</div>
