 <div class="contact">
    <!-- Contact Section -->
    <div class="w3-container w3-padding-32" id="contact">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16 {% if color is defined %} {{ color }} {% endif %}">{{ dataContact.title }}</h3>
        <p class="text {% if color is defined %} {{ color }} {% endif %}">{{ dataContact.text }}</p>
        <form action="/action_page.php" target="_blank">
        <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
        <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
        <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
        <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
       
        {% if dataContact.button is defined %}
            {% include 'partials/_button_form.html.twig' with { 'button' : dataContact.button }  %}
        {% endif %}
        
    </div>
</div>