

<div class="row">
    <div class="col-md-12 col-lg-6">

      {%  include 'blocks/_block.html.twig' with {'component' : 'partials/_simulator' , 'bg': 'bg-lightgrey', 'color': 'white' , 'classe' : 'simulator'} %}

    </div>
      
    <div class="col-md-12 col-lg-6">
            
      {%  include 'blocks/_block.html.twig' with {'component' : 'blocks/_sub/_image' , 'bg': 'bg-lightgrey', 'color': 'white' , 'classe' : 'image'} %}
          
    </div>
  </div>
</div>
