<div {% if classe is defined %} id="{{ classe }}" {% endif %}>
    <div {% if color is defined %} class="{{ color }}" {% endif %}>
        <div class="container">

            <h5>w3-half</h5>  
            <p>The w3-half class uses half (50%) of the screen window.</p>
            <p>On small screens (max 600 pixels) it automatically resizes to full screen width.</p>
            <p>The w3-half class uses half (50%) of the screen window.</p>
            <p>On small screens (max 600 pixels) it automatically resizes to full screen width.</p>
    
        </div>
    </div>

</div