
<div class="lists">

    <div class="card col-12 bg-primary">
        <div class="card-header">
            Quote
        </div>
        <div class="card-body white">
            <blockquote class="blockquote mb-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer white">Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>
        </div>
    </div>

</div>
