
<div class="lists">

    <div class="row">
        {% for list in dataLists %}
            <div class="col-md-12 col-lg-4">
                <div style="background-image: url({{ list.image }})" class="image"></div>
            </div>

            <div class="pt-4col-md-12 col-lg-8">
                <div class="content pt-4 pb-4">
                    <h4 class="pb-4">{{ list.title }}</h4>
                    <p>{{ list.text }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

</div>
