<div class="container pt-2 pb-2">
    <div class="row">
        <h3 class="text-center">Attention, emprunter de l'argent coûte aussi de l'argent !</h3>
        <p class="text-center">Exemple représentatif: Nature du prêt: Prêt personnel | Montant total du prêt: 5.000€ | Montant des mensualités: 152,00€ | TAEG max: 5,95% | Taux débiteur Fixe: 5,95% | Durée du prêt: 36 mois | Total à rembourser: 5.472,00€</p>
        <p class="text-center">Sous réserve d'acceptation de votre dossier.</p>
    </div>
</div>









