<form method="post" action="{{ path('duree_delete', {'id': duree.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ceci?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ duree.id) }}">
    <button class="btn">Supprimer</button>
</form>
