{% extends 'admin_base.html.twig' %}

{% block title %}Duree{% endblock %}

{% block body %}


    <div id="container-main">

        <div class="menu mt-4">
            <a href="{{ path('duree_new') }}">Creation d'une durée</a>
        </div>

        <div class="content mt-4">
        
             <h1>Duree</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>Mensualite</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for duree in durees %}
                    <tr>
                        <td>{{ duree.mensualite }}</td>
                        <td>
                            <a href="{{ path('duree_show', {'id': duree.id}) }}">détail</a> |
                            <a href="{{ path('duree_edit', {'id': duree.id}) }}">éditer</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">aucune durée trouvée</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
   
{% endblock %}
