{% extends 'admin_base.html.twig' %}

{% block title %}Nouvelle Duree{% endblock %}

{% block body %}

    <div id="container-main">

        <div class="menu">
        
             <a href="{{ path('duree_index') }}">retour à la liste</a>
        
        </div>

        <div class="content">
        
             <h1>Creation nouvelle durée</h1>

            {{ include('duree/_form.html.twig') }}
        
        </div>

    </div>

{% endblock %}
