.card_info {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 31%;
    height: 100%;
}

.card_info > .container-image {
    height: 50%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card_info > .container-detail {
    padding: 15px;
}

  
.card_info:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}
  
.container {
    padding: 2px 16px;
}

.container-cards {
    width: 100%;
    height: auto;
    min-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-cards-details {
    height: 400px;
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    .container-cards-details {
        width: 90%;
        height: auto;
        flex-direction: column;
    }

    .card_info {
        width: 100%;
        height: 400px;
        margin: 10px;
    }
}