#cards {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cards > .row {
    width: 100%;
    justify-content: space-around;
}

#cards > .row > .card {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    height: 400px;
}

#cards > .row > .card > .card {
    height: 200px;
}


@media screen and (max-width: 991px) {
    #cards {
        height: auto!important;
    }
    #cards > .row > .card {
        margin: 10px;
    }

}