.bg-white {
    background-color: #fff;
}

.white {
    color:#fff;
}

.bg-blue {
    background-color:#2196F3;
}

.blue {
    color:#2196F3;
}

.bg-black {
    background-color:#000;
}

.black {
    color:#000;
}

.bg-lightgrey {
    background-color: lightgray;
}

.lightgrey {
    color: lightgray;
}