#image {
    width: 100%;
    height: 100%;
}

#image > div{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.content-simulator {
    padding: 20px;
}

.content-simulator > div {
    margin:0;
    padding:0;
}

.content-simulator > div > div {
    margin:0;
    padding:20px;
}

.content-simulator > #form_request > div > form {
  display: flex;
  flex-direction: row;
}

.content-simulator > #form_request > div > form > div {
    padding:10px;
  }

.content-simulator > #form_request > div > form > .content-form {
    height: auto;
}

.content-simulator > #form_request > div > form > .content-form > div {
    height: 75px;
}

.content-simulator > #form_request > div > form > .content-form > div:last-of-type {
    height: 290px;
}

.content-simulator > #form_request > div > form > .content-form > div > textarea {
    height: 100%;
}

.content-simulator > #form_request > div > form > div > div > #demande_credit_dureeDuPret {
   display: none;
}

.content-simulator > #form_request > div > form > div > div > #demande_credit_typeDeCredit {
    display: none;
 }

 .content-simulator > #form_request > div > form > div > div > #demande_credit_montantAEmprunter {
    display: none;
 }

 .content-simulator > #form_request > div > form > div > .button-form {
     height: 50px;
     display: flex;
     align-items: center;
     justify-content: flex-end;
 }