.footer {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer > #footer {
    height: 350px;
    width: 100%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer > #footer > div {
    width: 100%;
}