.header {
    height: 70vh;
    width: 100%;
}

.header > header {
    height: 100%;
    width: 100%;
}

.image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image > .content-left-outer {
    width: 100%;
    max-width: 1400px;
    height: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.image > .content-left-outer > .content-left-inner {
    background-color: rgba(211, 211, 211, 0.5);
    width: 100%;
    max-width: 700px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
}

.image > .content-right-outer {
    width: 100%;
    max-width: 1400px;
    height: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.image > .content-right-outer > .content-right-inner {
    background-color: rgba(211, 211, 211, 0.5);
    width: 100%;
    max-width: 700px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
}

.image > .content-left-outer > .content-left-inner > .button {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.image > .content-right-outer > .content-right-inner > .button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.image > .content-right-outer > .content-right-inner > .button > button {
    width: 200px;
    height: 50px;
    border-radius: 5px;
}


.image > .content-left-outer > .content-left-inner > .button > button {
    width: 200px;
    height: 50px;
    border-radius: 5px;
}