.logo_img {
    width: 212px!important;
    height: 150px!important;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    position: relative;
    top:-15px;
}

.nav-link.head {
    font-size: 24px!important;
}