<form method="post" action="{{ path('credit_delete', {'id': credit.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ credit.id) }}">
    <button class="btn">Supprimer</button>
</form>
