{% extends 'admin_base.html.twig' %}

{% block title %}New Credit{% endblock %}

{% block body %}

<div id="container-main">

        <div class="menu">
        
             <a href="{{ path('credit_index') }}">back to list</a>
        
        </div>

        <div class="content">
        
            <h1>Create new Credit</h1>

            {{ include('credit/_form.html.twig') }}
        
        </div>

</div>
    
{% endblock %}
